<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyWallet</title>
</head>
<body style="background-color: #424242; color: aliceblue; text-align: center; font-size: large">
<h1>Coins</h1>
<table style="max-width: 100%">
    <colgroup>
        <col style="background-color: gray">
        <col span="4" style="background-color:#248f9b;">
    </colgroup>
    <tr style="background-color: #1860f5; color:white; margin: 2px 10px">
        <th>Coin</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Price SUS</th>
        <th>Price BOB</th>
    </tr>
    {% for coin in coins %}
        <tr>
            <th style="padding: 2px 5px">{{ coin.coin }}</th>
            <th style="padding: 2px 5px">{{ coin.price|floatformat:"3" }}</th>
            <th style="padding: 2px 5px">{{ coin.amount|floatformat:"3" }}</th>
            <th style="padding: 2px 5px">{{ coin.price_sus|floatformat:"3" }}</th>
            <th style="padding: 2px 5px">{{ coin.price_bob|floatformat:"3" }}</th>
        </tr>
    {% endfor %}
</table>
</body>
</html>